<div class="notes-actions">
  <div class="notes-actions-container">
    <div class="notes-action">
      <form [formGroup]="form">
        <mat-form-field appearance="standard">
          <mat-label>Enter the string</mat-label>
          <input matInput [formControlName]="controlName" type="text" />
          <button
            *ngIf="getFilterStringControl().value"
            matSuffix
            mat-icon-button
            color="primary"
            (click)="resetFilterString()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Filter notes by the entered string</mat-hint>
        </mat-form-field>
      </form>
    </div>
    <div class="notes-action">
      <button
        mat-mini-fab
        mat-icon-button
        color="primary"
        matTooltip="Create note"
        (click)="create.emit()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
