@import "variables";

.notes-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .notes-col-header {
  }
  .notes-col-body {
    position: relative;
    height: 100%;
  }
  .notes-col-footer {
    min-height: 52px;
    max-height: 110px;
    overflow-y: auto;
  }
}
