<mat-grid-list cols="4">
  <mat-grid-tile colspan="1">
    <div class="notes-col">
      <div class="notes-col-header">
        <app-notes-actions
          (changeFilter)="handlechangeFilter($event)"
          (create)="handleCreateNote()"
        ></app-notes-actions>
      </div>
      <div class="notes-col-body">
        <app-notes-list
          [data]="notes$"
          (remove)="handleRemoveNote($event)"
          (selection)="handleSelectionNote($event)"
        ></app-notes-list>
      </div>
      <div class="notes-col-footer">
        <app-notes-tags
          [data]="tags$"
          [selected]="selectedTag$"
          (selection)="handleSelectionTag($event)"
        ></app-notes-tags>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div class="notes-col">
      <div class="notes-col-header">
        <app-note-workspace-title
          (change)="handleChangeNote($event)"
          [value]="(selectedNote$ | async)?.title"
          [disabled]="(selectedNote$ | async) === null"
        ></app-note-workspace-title>
      </div>
      <div class="notes-col-body">
        <app-note-workspace-content
          (change)="handleChangeNote($event)"
          [value]="(selectedNote$ | async)?.content"
          [disabled]="(selectedNote$ | async) === null"
        ></app-note-workspace-content>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
