@import "variables";

.mat-grid-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.notes-col-notes-list {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.notes-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .notes-col-body {
    position: relative;
    height: 100%;
  }
  .notes-col-footer {
    min-height: 52px;
    max-height: 110px;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
