<div class="notes-list">
  <div class="notes-list-container">
    <ng-container *ngIf="data | async as notes">
      <div
        class="notes-list-no-notes"
        *ngIf="notes.length === 0; else showList"
      >
        No notes
      </div>
      <ng-template #showList>
        <mat-selection-list
          #notesList
          [multiple]="false"
          (selectionChange)="handleSelectionChange($event)"
        >
          <mat-list-option
            *ngFor="let item of data | async as array"
            [value]="item.id"
          >
            <div class="notes-list-option">
              <div>
                <span>{{ item.title }}</span>
                <span>{{ item.updatedAt | date }}</span>
              </div>
              <button
                matSuffix
                mat-icon-button
                color="primary"
                (click)="removeListItem($event, item.id)"
                matTooltip="Remove note"
                matTooltipPosition="left"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </ng-template>
    </ng-container>
  </div>
</div>
